body{
margin: 0px;
}

div{
width: 200px;
height: 300px;
background-color: #edafb8;
}

#one{
    background-color: azure;
    border-width: 5px;
    border-color: #000;
    border-style: solid;
    box-sizing: border-box;
    padding: 10px;

}

#two{
background-color: aquamarine;
border: 3px solid black;
border-radius: 10px;
}

#three{
background-color: beige;
}

button{
padding: 20px;
}