.circle {
    width: 300px;
    height: 300px;
    background-color: magenta;
    transition: background-color 1s,border-radius 2s;
}

.circle:hover{
    background-color: aquamarine;
    border-radius: 50%;

}